<h1>Open Source Soundboard</h1>

<% if (locals.user) { %>
    <a href="/auth/logout">Logout</a>
<% } else { %>
    <a href="/auth/dropbox">Auth with Dropbox</a>
    <a href="/auth/google">Auth with Google</a>
<% } %>
