extends layout

block content
  .row
    .bs-glyphicons
      ul#soundcards.sortable
        each sound, index in sounds
          li
            .soundcard.panel.panel-default
              .panel-heading
                .btn-group.soundcard-buttons(role="group", aria-label="...", data-sound-index= index)
                .span.glyphicon.glyphicon-music
              .panel-body
                = sound
              .panel-footer
