extends layout

block content
  .bs-glyphicons
    ul#soundcards
    each sound in sounds
      li
        .soundcard.panel.panel-default
          .panel-heading
            span.glyphicon.glyphicon-music
          .panel-body
            = sound
          .panel-footer
