body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

li {
  display: inline-block;
  height: 120px;
  margin: 10px;
  overflow: hidden;
  width: 120px;
  word-wrap: break-word;
  white-space: normal !important;
}

nav { color: #FFF; }
#main { margin-top: 100px; }

.playing .panel-body { background-color: #4F0; }
.paused .panel-body { background-color: #F40; }

.bs-glyphicons {
    margin: 0px -10px 20px;
    overflow: hidden;
}
.bs-glyphicons-list {
    padding-left: 0px;
    list-style: outside none none;
}
.bs-glyphicons .glyphicon {
    font-size: 24px;
}
.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
.bs-glyphicons li {
    float: left;
    width: 140px;
    height: 140px;

}
.bs-glyphicons-list {
    list-style: outside none none;
}

.soundcard .panel-heading {
  height:40px;
}

.soundcard .panel-body {
  height: 90px;
}

.soundcard .panel-footer {
  display:none;
}
